* {
    margin: 0;
    padding: 0;
}

/* Utility class */
.flex {
    display: flex;
}
.auto {
    margin: auto;
}
.filterimage {
    height: 25px;
}

/* Header CSS */
header {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 85px;
    padding: 0px 40px;
    border-bottom: 1px solid rgb(230, 228, 228);
    justify-content: space-between;
    z-index: 1;
}

header .logo img {
    margin-top: 15px;
    cursor: pointer;
    height: 50px;
}

.header-center-section {
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    border-radius: 50px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 3px 1px rgb(209, 209, 209);
}

.header-center-touchpoint1 {
    padding: 20px;
    font-size: .9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-center-touchpoint2 {
    padding: 20px;
    font-size: .9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-center-touchpoint3 {
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 20px;
    font-size: .9rem;
    color: rgb(131, 131, 131);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchbtn img{
    margin-left: 10px;
    height: 40px;
}

.header-last-section {
    justify-content: center;
    align-items: center;
}

.header-last-section button{
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-last-section button:hover {
    background-color: rgb(238, 236, 236);
}

.earth-globe-header {
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.earth-globe-header img {
    height: 15px;
}
.earth-globe-header:hover {
    background-color: rgb(238, 236, 236);
}

.login-btn {
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    column-gap: 10px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 25px;
}

.login-btn:hover {
    box-shadow: 0px 1px 3px 1px rgb(209, 209, 209);
}

.header-profile-menu {
    opacity: 50%;
    padding-left: 5px;
    height: 15px;
}

.header-profile-pic {
    opacity: 50%;
    height: 30px;
}
/* Header end */


.filter-sections {
    position: sticky;
    top: 85px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    padding: 0px 40px;
    border-bottom: 1px solid rgb(230, 228, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75rem;
    z-index: 1;
}

.filter-card-box {
    row-gap: 5px;
    flex-direction: column;
    align-items: center;
    opacity: 70%;
}

.more-filter {
    border: 1px solid rgb(230, 228, 228);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    width: 600px;
    align-items: center;
}

.total-price-display {
    width: 190px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    font-weight: bold;
    margin-right: 15px;
}

.fees-tab {
    margin-left: 15px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    color: grey;
    justify-content: space-between;
    align-items: center;
}
/* toggle button css */
input {
	display : none;
}
div label {
	position: relative;
	cursor: pointer;
	display :block;
	width: 50px;
	height: 30px;
	background: #cccccc;
	border-radius: 50px;
	transition: 300ms linear;
}

div label:before {
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	background: #ffffff;
	border-radius: 50%;
	transition: left 300ms linear;
}

div input:checked + label {
	background: #000000;
}

div input:checked + label:before {
	left: 23px;
}
/* toggle switch end */

.cards-area {
    margin-top: 20px;
    padding: 0px 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    margin-bottom: 30px;
}

.card-img img {
    border-radius: 15px;
    height: 18rem;
    width: 18rem;
}

.card-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: .9rem;
    opacity: 90%;
    margin-bottom: 3px;
}

.card-subheading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    opacity: 70%;
}

.card-pricing {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    font-weight: bold;
    opacity: 90%;
    margin-top: 7px;
}

.card-pricing:before {
    content: '₹';
}

.card-pricing span {
    font-weight: lighter;
}

/* Footer css */
footer {
    padding: 0px 40px;
    background-color: white;
    position: sticky;
    bottom: 0px;
    border-top: 1px solid rgb(230, 228, 228);
}

.footer-section {
    justify-content: space-between;
}


.footer-list li{
    margin-right: 25px;
}
/* 
.footer-list li::marker {
    font-weight: lighter;
} */